.theme-stone {
  --radius: 0.625rem;
  --background: oklch(0.97 0.015 85);
  --foreground: oklch(0.147 0.02 55);
  --card: oklch(0.99 0.012 90);
  --card-foreground: oklch(0.147 0.02 55);
  --popover: oklch(0.99 0.012 90);
  --popover-foreground: oklch(0.147 0.02 55);
  --primary: oklch(0.72 0.01 56);
  --primary-foreground: oklch(0.147 0.02 55);
  --secondary: oklch(0.96 0.01 100);
  --secondary-foreground: oklch(0.216 0.025 60);
  --muted: oklch(0.96 0.01 100);
  --muted-foreground: oklch(0.553 0.03 58.071);
  --accent: oklch(0.96 0.01 100);
  --accent-foreground: oklch(0.216 0.025 60);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.03 49);
  --input: oklch(0.92 0.03 49);
  --ring: oklch(0.709 0.03 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.92 0.0 49);
  --sidebar-ring: oklch(0.709 0.01 56.259);

  @variant dark {
    --background: oklch(0.147 0.025 49.25);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.216 0.006 56.043);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.216 0.006 56.043);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.923 0.003 48.717);
    --primary-foreground: oklch(0.216 0.006 56.043);
    --secondary: oklch(0.268 0.007 34.298);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.268 0.007 34.298);
    --muted-foreground: oklch(0.709 0.01 56.259);
    --accent: oklch(0.268 0.007 34.298);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.553 0.013 58.071);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.216 0.006 56.043);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.268 0.007 34.298);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.553 0.013 58.071);
  }
}

.theme-zinc {
  --radius: 0.5rem;
  --background: oklch(0.97 0.02 70);
  --foreground: oklch(0.15 0.025 70);
  --card: oklch(0.99 0.015 65);
  --card-foreground: oklch(0.15 0.025 70);
  --popover: oklch(0.99 0.015 65);
  --popover-foreground: oklch(0.15 0.025 70);
  --primary: oklch(0.71 0.01 286);
  --primary-foreground: oklch(0.15 0.025 70);
  --secondary: oklch(0.96 0.015 70);
  --secondary-foreground: oklch(0.22 0.04 60);
  --muted: oklch(0.96 0.015 70);
  --muted-foreground: oklch(0.55 0.03 70);
  --accent: oklch(0.96 0.015 70);
  --accent-foreground: oklch(0.22 0.04 60);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.03 65);
  --input: oklch(0.92 0.03 65);
  --ring: oklch(0.71 0.03 70);
  --chart-1: oklch(0.65 0.2 60);
  --chart-2: oklch(0.6 0.12 180);
  --chart-3: oklch(0.4 0.07 230);
  --chart-4: oklch(0.83 0.18 85);
  --chart-5: oklch(0.77 0.18 70);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.15 0.025 70);
  --sidebar-primary: oklch(0.22 0.04 60);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.22 0.04 60);
  --sidebar-border: oklch(0.92 0.03 65);
  --sidebar-ring: oklch(0.71 0.03 70);

  @variant dark {
    --background: oklch(0.15 0.03 70);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.22 0.035 60);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.22 0.035 60);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.92 0.03 60);
    --primary-foreground: oklch(0.22 0.035 60);
    --secondary: oklch(0.27 0.035 70);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.27 0.035 70);
    --muted-foreground: oklch(0.71 0.03 70);
    --accent: oklch(0.27 0.035 70);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.55 0.013 70);
    --chart-1: oklch(0.65 0.24 60);
    --chart-2: oklch(0.7 0.17 160);
    --chart-3: oklch(0.77 0.18 70);
    --chart-4: oklch(0.63 0.26 300);
    --chart-5: oklch(0.65 0.24 15);
    --sidebar: oklch(0.22 0.006 60);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.65 0.24 60);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.27 0.007 60);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.55 0.013 70);
  }
}

.theme-neutral {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  @variant dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
}

.theme-gray {
  --radius: 0.5rem;
  --background: oklch(0.97 0.02 225);
  --foreground: oklch(0.15 0.025 230);
  --card: oklch(0.99 0.015 225);
  --card-foreground: oklch(0.15 0.025 230);
  --popover: oklch(0.99 0.015 225);
  --popover-foreground: oklch(0.15 0.025 230);
  --primary: oklch(0.87 0.01 258);
  --primary-foreground: oklch(0.15 0.025 230);
  --secondary: oklch(0.96 0.015 225);
  --secondary-foreground: oklch(0.22 0.04 235);
  --muted: oklch(0.96 0.015 225);
  --muted-foreground: oklch(0.55 0.03 230);
  --accent: oklch(0.96 0.015 225);
  --accent-foreground: oklch(0.22 0.04 235);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.03 235);
  --input: oklch(0.92 0.03 235);
  --ring: oklch(0.71 0.03 230);
  --chart-1: oklch(0.65 0.2 235);
  --chart-2: oklch(0.6 0.12 180);
  --chart-3: oklch(0.4 0.07 230);
  --chart-4: oklch(0.83 0.18 85);
  --chart-5: oklch(0.77 0.18 70);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.15 0.025 230);
  --sidebar-primary: oklch(0.22 0.04 235);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.22 0.04 235);
  --sidebar-border: oklch(0.92 0.03 235);
  --sidebar-ring: oklch(0.71 0.03 230);

  @variant dark {
    --background: oklch(0.15 0.03 230);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.22 0.035 235);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.22 0.035 235);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.65 0.15 235);
    --primary-foreground: oklch(0.15 0.03 230);
    --secondary: oklch(0.27 0.035 225);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.27 0.035 225);
    --muted-foreground: oklch(0.71 0.03 230);
    --accent: oklch(0.27 0.035 225);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.55 0.013 230);
    --chart-1: oklch(0.65 0.24 235);
    --chart-2: oklch(0.7 0.17 160);
    --chart-3: oklch(0.77 0.18 70);
    --chart-4: oklch(0.63 0.26 300);
    --chart-5: oklch(0.65 0.24 15);
    --sidebar: oklch(0.22 0.006 235);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.65 0.24 235);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.27 0.007 235);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.55 0.013 230);
  }
}

.theme-slate {
  ---radius: 0.5rem;
  --background: oklch(0.97 0.01 240);
  --foreground: oklch(0.15 0.015 240);
  --card: oklch(0.99 0.005 240);
  --card-foreground: oklch(0.15 0.015 240);
  --popover: oklch(0.99 0.005 240);
  --popover-foreground: oklch(0.15 0.015 240);
  --primary: oklch(0.71 0.04 257);
  --primary-foreground: oklch(0.15 0.015 240);
  --secondary: oklch(0.96 0.005 240);
  --secondary-foreground: oklch(0.22 0.02 240);
  --muted: oklch(0.96 0.005 240);
  --muted-foreground: oklch(0.55 0.02 240);
  --accent: oklch(0.96 0.005 240);
  --accent-foreground: oklch(0.22 0.02 240);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.02 240);
  --input: oklch(0.92 0.02 240);
  --ring: oklch(0.71 0.02 240);
  --chart-1: oklch(0.65 0.2 240);
  --chart-2: oklch(0.6 0.12 180);
  --chart-3: oklch(0.4 0.07 230);
  --chart-4: oklch(0.83 0.18 85);
  --chart-5: oklch(0.77 0.18 70);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.15 0.004 240);
  --sidebar-primary: oklch(0.22 0.006 240);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.22 0.006 240);
  --sidebar-border: oklch(0.92 0.0 240);
  --sidebar-ring: oklch(0.71 0.01 240);

  @variant dark {
    --background: oklch(0.15 0.02 240);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.22 0.006 240);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.22 0.006 240);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.92 0.003 240);
    --primary-foreground: oklch(0.22 0.006 240);
    --secondary: oklch(0.27 0.007 240);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.27 0.007 240);
    --muted-foreground: oklch(0.71 0.01 240);
    --accent: oklch(0.27 0.007 240);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.55 0.013 240);
    --chart-1: oklch(0.49 0.24 265);
    --chart-2: oklch(0.7 0.17 160);
    --chart-3: oklch(0.77 0.18 70);
    --chart-4: oklch(0.63 0.26 300);
    --chart-5: oklch(0.65 0.24 15);
    --sidebar: oklch(0.22 0.006 240);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.49 0.24 265);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.27 0.007 240);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.55 0.013 240);
  }
}

.theme-teal {
  --radius: 0.5rem;
  --background: oklch(0.97 0.01 180);
  --foreground: oklch(0.15 0.015 180);
  --card: oklch(0.99 0.005 180);
  --card-foreground: oklch(0.15 0.015 180);
  --popover: oklch(0.99 0.005 180);
  --popover-foreground: oklch(0.15 0.015 180);
  --primary: oklch(0.55 0.15 180);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.96 0.005 180);
  --secondary-foreground: oklch(0.55 0.15 180);
  --muted: oklch(0.96 0.005 180);
  --muted-foreground: oklch(0.55 0.02 180);
  --accent: oklch(0.96 0.005 180);
  --accent-foreground: oklch(0.55 0.15 180);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.02 180);
  --input: oklch(0.92 0.02 180);
  --ring: oklch(0.71 0.02 180);
  --chart-1: oklch(0.65 0.2 180);
  --chart-2: oklch(0.6 0.12 220);
  --chart-3: oklch(0.4 0.07 140);
  --chart-4: oklch(0.83 0.18 85);
  --chart-5: oklch(0.77 0.18 70);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.15 0.004 180);
  --sidebar-primary: oklch(0.55 0.15 180);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.55 0.15 180);
  --sidebar-border: oklch(0.92 0.0 180);
  --sidebar-ring: oklch(0.71 0.01 180);

  @variant dark {
    --background: oklch(0.15 0.02 180);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.22 0.006 180);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.22 0.006 180);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.65 0.15 180);
    --primary-foreground: oklch(0.15 0.02 180);
    --secondary: oklch(0.27 0.007 180);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.27 0.007 180);
    --muted-foreground: oklch(0.71 0.01 180);
    --accent: oklch(0.27 0.007 180);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.55 0.013 180);
    --chart-1: oklch(0.65 0.24 180);
    --chart-2: oklch(0.7 0.17 220);
    --chart-3: oklch(0.77 0.18 140);
    --chart-4: oklch(0.63 0.26 300);
    --chart-5: oklch(0.65 0.24 15);
    --sidebar: oklch(0.22 0.006 180);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.65 0.24 180);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.27 0.007 180);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.55 0.013 180);
  }
}

.theme-blue {
  --radius: 0.5rem;
  --background: oklch(0.97 0.01 240);
  --foreground: oklch(0.15 0.015 240);
  --card: oklch(0.99 0.005 240);
  --card-foreground: oklch(0.15 0.015 240);
  --popover: oklch(0.99 0.005 240);
  --popover-foreground: oklch(0.15 0.015 240);
  --primary: oklch(0.55 0.15 240);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.96 0.005 240);
  --secondary-foreground: oklch(0.55 0.15 240);
  --muted: oklch(0.96 0.005 240);
  --muted-foreground: oklch(0.55 0.02 240);
  --accent: oklch(0.96 0.005 240);
  --accent-foreground: oklch(0.55 0.15 240);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.02 240);
  --input: oklch(0.92 0.02 240);
  --ring: oklch(0.71 0.02 240);
  --chart-1: oklch(0.65 0.2 240);
  --chart-2: oklch(0.6 0.12 280);
  --chart-3: oklch(0.4 0.07 200);
  --chart-4: oklch(0.83 0.18 85);
  --chart-5: oklch(0.77 0.18 70);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.15 0.004 240);
  --sidebar-primary: oklch(0.55 0.15 240);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.55 0.15 240);
  --sidebar-border: oklch(0.92 0.0 240);
  --sidebar-ring: oklch(0.71 0.01 240);

  @variant dark {
    --background: oklch(0.15 0.02 240);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.22 0.006 240);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.22 0.006 240);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.65 0.15 240);
    --primary-foreground: oklch(0.15 0.02 240);
    --secondary: oklch(0.27 0.007 240);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.27 0.007 240);
    --muted-foreground: oklch(0.71 0.01 240);
    --accent: oklch(0.27 0.007 240);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.55 0.013 240);
    --chart-1: oklch(0.65 0.24 240);
    --chart-2: oklch(0.7 0.17 280);
    --chart-3: oklch(0.77 0.18 200);
    --chart-4: oklch(0.63 0.26 300);
    --chart-5: oklch(0.65 0.24 15);
    --sidebar: oklch(0.22 0.006 240);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.65 0.24 240);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.27 0.007 240);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.55 0.013 240);
  }
}

.theme-purple {
  --radius: 0.5rem;
  --background: oklch(0.97 0.01 280);
  --foreground: oklch(0.15 0.015 280);
  --card: oklch(0.99 0.005 280);
  --card-foreground: oklch(0.15 0.015 280);
  --popover: oklch(0.99 0.005 280);
  --popover-foreground: oklch(0.15 0.015 280);
  --primary: oklch(0.55 0.15 280);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.96 0.005 280);
  --secondary-foreground: oklch(0.55 0.15 280);
  --muted: oklch(0.96 0.005 280);
  --muted-foreground: oklch(0.55 0.02 280);
  --accent: oklch(0.96 0.005 280);
  --accent-foreground: oklch(0.55 0.15 280);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.02 280);
  --input: oklch(0.92 0.02 280);
  --ring: oklch(0.71 0.02 280);
  --chart-1: oklch(0.65 0.2 280);
  --chart-2: oklch(0.6 0.12 320);
  --chart-3: oklch(0.4 0.07 240);
  --chart-4: oklch(0.83 0.18 85);
  --chart-5: oklch(0.77 0.18 70);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.15 0.004 280);
  --sidebar-primary: oklch(0.55 0.15 280);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.55 0.15 280);
  --sidebar-border: oklch(0.92 0.0 280);
  --sidebar-ring: oklch(0.71 0.01 280);

  @variant dark {
    --background: oklch(0.15 0.02 280);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.22 0.006 280);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.22 0.006 280);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.65 0.15 280);
    --primary-foreground: oklch(0.15 0.02 280);
    --secondary: oklch(0.27 0.007 280);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.27 0.007 280);
    --muted-foreground: oklch(0.71 0.01 280);
    --accent: oklch(0.27 0.007 280);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.55 0.013 280);
    --chart-1: oklch(0.65 0.24 280);
    --chart-2: oklch(0.7 0.17 320);
    --chart-3: oklch(0.77 0.18 240);
    --chart-4: oklch(0.63 0.26 300);
    --chart-5: oklch(0.65 0.24 15);
    --sidebar: oklch(0.22 0.006 280);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.65 0.24 280);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.27 0.007 280);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.55 0.013 280);
  }
}

.theme-rose {
  --radius: 0.5rem;
  --background: oklch(0.97 0.01 20);
  --foreground: oklch(0.15 0.015 20);
  --card: oklch(0.99 0.005 20);
  --card-foreground: oklch(0.15 0.015 20);
  --popover: oklch(0.99 0.005 20);
  --popover-foreground: oklch(0.15 0.015 20);
  --primary: oklch(0.55 0.15 20);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.96 0.005 20);
  --secondary-foreground: oklch(0.55 0.15 20);
  --muted: oklch(0.96 0.005 20);
  --muted-foreground: oklch(0.55 0.02 20);
  --accent: oklch(0.96 0.005 20);
  --accent-foreground: oklch(0.55 0.15 20);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.02 20);
  --input: oklch(0.92 0.02 20);
  --ring: oklch(0.71 0.02 20);
  --chart-1: oklch(0.65 0.2 20);
  --chart-2: oklch(0.6 0.12 60);
  --chart-3: oklch(0.4 0.07 340);
  --chart-4: oklch(0.83 0.18 85);
  --chart-5: oklch(0.77 0.18 70);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.15 0.004 20);
  --sidebar-primary: oklch(0.55 0.15 20);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.55 0.15 20);
  --sidebar-border: oklch(0.92 0.0 20);
  --sidebar-ring: oklch(0.71 0.01 20);

  @variant dark {
    --background: oklch(0.15 0.02 20);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.22 0.006 20);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.22 0.006 20);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.65 0.15 20);
    --primary-foreground: oklch(0.15 0.02 20);
    --secondary: oklch(0.27 0.007 20);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.27 0.007 20);
    --muted-foreground: oklch(0.71 0.01 20);
    --accent: oklch(0.27 0.007 20);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.55 0.013 20);
    --chart-1: oklch(0.65 0.24 20);
    --chart-2: oklch(0.7 0.17 60);
    --chart-3: oklch(0.77 0.18 340);
    --chart-4: oklch(0.63 0.26 300);
    --chart-5: oklch(0.65 0.24 15);
    --sidebar: oklch(0.22 0.006 20);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.65 0.24 20);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.27 0.007 20);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.55 0.013 20);
  }
}

.theme-scaled {
  @media (min-width: 1024px) {
    --radius: 0.6rem;
    --text-lg: 1.05rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  [data-slot="card"] {
    --spacing: 0.16rem;
  }

  [data-slot="card-header"] *,
  [data-slot="card-content"] *,
  [data-slot="card-footer"] * {
    --spacing: 0.222222rem;
  }
}